* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("/Pictures/wood-background.jpg");
  text-align: center;
  display: grid;
  grid-template-areas: "main main main main main aside";
  padding: 5%;
}
main {
  grid-area: main;
}

table {
  display: inline-block;
  background-image: url(/Pictures/board-background.jpg);
  padding: 2rem;
  border-collapse: separate;
  border-spacing: 0.2rem;
  border-spacing: 0.2rem 2rem;
  width: 95%;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 1px 5px 5px black;
}

tr {
  margin: 1rem;
}

td {
  width: 2em;
  height: 2em;
  aspect-ratio: 1 / 1;
  background-color: #2c1500;
  margin: 1rem;
  border-radius: 1rem;
  position: relative;
  box-shadow: inset 1px 5px 5px rgb(0, 0, 0);
}

.player1 .scored {
  background-color: hsl(0, 100%, 73%);
}
.player2 .scored {
  background-color: hsl(203, 100%, 73%);
}

.player1-details {
  background-color: hsl(0, 100%, 73%);
}

.details {
  width: 75%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  box-shadow: 1px 5px 5px black;
}

.player2-details {
  background-color: hsl(203, 100%, 73%);
  margin-bottom: 5em;
}

.info {
  text-align: left;
  width: 100%;
}

.info p {
  margin-bottom: 1rem;
}

.player-hand {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

aside {
  color: #eeeeee;
  grid-area: aside;
  align-self: center;
  background-image: linear-gradient(
    to left bottom,
    #4b4b4c,
    #393939,
    #282828,
    #181718,
    #000000
  );
}

.crib {
  padding: 2rem;
  box-shadow: 1px 5px 5px black;
}

.crib-owner {
  margin: 1rem;
}

.crib-hand {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: auto;
}
.card {
  aspect-ratio: 3 / 4;
  max-width: 5rem;
  min-width: 1rem;
  display: block;
  box-shadow: 1px 5px 5px black;
  border-radius: 0.3rem;
  margin: 0.5rem;
}

i {
  font-size: 3rem;
  position: absolute;
  z-index: 1;
  top: -100%;
  transform: translateX(-55%);
}

.cut-card-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.button {
  width: 6em;
  height: 3em;
  border-radius: 1em;
  margin: auto;
  background-image: linear-gradient(
    to left bottom,
    #4b4b4c,
    #393939,
    #282828,
    #181718,
    #000000
  );
  color: #eeeeee;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  display: flex;
  text-transform: uppercase;
}

.player1 i {
  filter: invert(11%) sepia(78%) saturate(6483%) hue-rotate(2deg)
    brightness(90%) contrast(115%);
}

.player2 i {
  filter: invert(11%) sepia(68%) saturate(3874%) hue-rotate(252deg)
    brightness(133%) contrast(170%);
}
